{% extends 'base.html.twig' %}

{% block title %}Senshi no Mishi | Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/r/style.css') }}">
{% endblock %}

{% block body %}
    <section class="main">

        <h1>SENSHI NO MISHI</h1>

        <div class="mainseconde">
            <h3 class="secondary">Le jeu</h3>

        </div>

        <div class="firstcontainer">
            <div class="secondcontainer">
                <div class="content">
                    <p>
                        Nous sommes au XVIe siècle à Kyoto au Japon, en plein coeur de l'ère Sengoku, la guerre règne en maître sur tout le territoire. Le pays est divisé en deux grandes provinces qui se font la guerre depuis près d'un siècle, deux grandes factions ayant beaucoup d'influence. L'empereur n'a pas assez de renommée pour réunifier les deux côtés, c'est donc le moment opportun de prendre le pouvoir et d'imposer un nouvel empereur. Deux shoguns vont devoir rassembler à leur côté le plus de guerriers possibles pour s'assurer la victoire. Pour s'attirer la reconnaissance et la confiance de ces puissants guerriers, il faudra leur offrir des présents accumulés lors de vos batailles. Plus il y a d'équipement offert plus les guerriers seront susceptibles de rejoindre vos rangs. Hisse ton clan au sommet.<br> Fais le pour l'honneur de ta famille.                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="last">
        <div class="form">

            <img class="logo" src="{{ asset('assets/imgs/logofinal.png') }}">


                {% if app.user %}
                    <h4>{{ app.user.username }}</h4>
                    {% else %}
                <h4>Connexion</h4>
                {% endif %}

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            {% else %}
                                <label for="inputPseudo">Pseudo</label><br>
                                <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus><br>
                                <label for="inputPassword">Mot de Passe</label><br>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                ><br>

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter
                                </button>
                    </form><br>
                        {% endif %}
                        {% if app.user %}
                        {% else %}
                            <h3>Vous n'avez pas de compte ? </h3>
                            <h5><a href="{{ path('app_register') }}" style=" font-weight: bolder;color: #982424 ;text-decoration: underline;text-align: center ">Rejoignez-nous</a></h5>

                        {% endif %}



                    {% if app.user %}
                        <button><a href="{{ path('profil') }}">
                            Profil
                            </a></button><br>
                    <button><a href="{{ path('new_game') }}">
                            Jouer
                        </a></button><br>
                        <button><a href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </button>
                    {% endif %}


            <div class="footer">
                <a href="{{ path('admin') }}">Gestion</a>  -  Mentions légales  -  Contact  -  CGC
            </div>
        </div>

    </section>



{% endblock %}
