{% extends 'base.html.twig' %}

{% block title %}Senshi no Mishi | Accueil{% endblock %}

{% block body %}
    <section class="main">

        <div class="first">
            <div class="title">
                SENSHI NO MISHI
            </div>
        </div>


        <div class="secondary">
            <h3>Le jeu</h3>
            <h3 class="rules">Règles</h3>
        </div>

        <div class="firstconatiner">
            <div class="secondcontainer">
                <div class="content">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

            </div>
        </div>

        <aside>
            <div class="logo">
                <img src="{{ asset('assets/imgs/logofinal.png') }}">
            </div>

            <section>
                <h3>Connexion</h3>
                <div class="formulaire">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.username }}<br> <a style=" font-weight: bolder;color: #982424 ;text-decoration: underline" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                            {% else %}
                                <label for="inputPseudo">Pseudo</label><br>
                                <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus><br>
                                <label for="inputPassword">Mot de Passe</label><br>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter
                                </button>

                        {% endif %}
                        {% if app.user %}
                        {% else %}
                            <h4>Vous n'avez pas de compte ? </h4>
                            <h5><a href="{{ path('app_register') }}" style=" font-weight: bolder;color: #982424 ;text-decoration: underline">Rejoignez-nous</a></h5>

                        {% endif %}


                    </form><br>

                    <button>
                        Jouer
                    </button>

                </div>

            </section>
            <div class="footer">
                Gestion  -  Mentions légales  -  Contact  -  CGC
            </div>
        </aside>

    </section>
    <div class="language">
        <img src="{{ asset('assets/imgs/globe2.png') }}" height="40px">
        <h3>Francais</h3>
    </div>
{% endblock %}
