{% extends 'base.html.twig' %}

{% block title %}Senshi no Mishi | Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/r/style.css') }}">
{% endblock %}

{% block body %}
    <section class="main">

        <h1>SENSHI NO MISHI</h1>

        <div class="mainseconde">
            <h3 class="secondary">Le jeu</h3>
            <h3 class="secondary">Règles</h3>
        </div>

        <div class="firstcontainer">
            <div class="secondcontainer">
                <div class="content">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="last">
        <div class="form">

            <img class="logo" src="{{ asset('assets/imgs/logofinal.png') }}">


                {% if app.user %}
                    <h4>{{ app.user.username }}</h4>
                    {% else %}
                <h4>Connexion</h4>
                {% endif %}

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            {% else %}
                                <label for="inputPseudo">Pseudo</label><br>
                                <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus><br>
                                <label for="inputPassword">Mot de Passe</label><br>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                ><br>

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter
                                </button>
                    </form><br>
                        {% endif %}
                        {% if app.user %}
                        {% else %}
                            <h3>Vous n'avez pas de compte ? </h3>
                            <h5><a href="{{ path('app_register') }}" style=" font-weight: bolder;color: #982424 ;text-decoration: underline;text-align: center ">Rejoignez-nous</a></h5>

                        {% endif %}



                    {% if app.user %}
                        <button><a href="{{ path('profil') }}">
                            Profil
                            </a></button><br>
                    <button><a href="{{ path('new_game') }}">
                            Jouer
                        </a></button><br>
                        <button><a href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </button>
                    {% endif %}


            <div class="footer">
                <a href="{{ path('admin') }}">Gestion</a>  -  Mentions légales  -  Contact  -  CGC
            </div>
        </div>

    </section>



{% endblock %}
