{% extends 'base.html.twig' %}

{% block title %}Senshi no Mishi | Débuter une partie{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/a/style_recherche.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="main_content">
        <header>
            <nav>
                <a href="{{ path('accueil') }}">Accueil</a>
                <a href="{{ path('profil') }}">Profil</a>
            </nav>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </header>
        <section id="recherche">


            <div><p>Entrez le pseudo de votre futur adversaire !</p>
                <form action="{{ path('create_game') }}" method="post"><input type="text" name="user2" style="width: 400px;">
                    <input type="submit" value="Commencer"></form>
                <p style="font-size: 1em;">La partie se lancera dès que vous aurez validé votre choix.</p>
            </div>
        </section>
    </div>
{% endblock %}