<div id="game" >
    {% if (adversaire.actions['OFFRE']) and (adversaire.actions['OFFRE'] != 'done') %}
        <div id="popup">
            <div id="popup-content" class="actionsSelect">
                <h2>Sélectionnez une carte à offrir à l'un des combattants.</h2>
                <br>
                {% for card in adversaire.actions['OFFRE'] %}
                    <input type="checkbox" name="carte_select" id="carte{{ card }}" value="{{ card }}" style="display: none" class="choixOffre">
                    <label for="carte{{ card }}">
                        <img height="100px" src="{{ asset('assets/cartes/'~cards[card].picture) }}">
                    </label>
                {% endfor %}
                <br><button id="valider" style="display: none">Valider choix</button>
            </div>
        </div>
    {% endif %}
<div class="row">
    <div class="col-8" style="text-align: center">

        {% for card in adversaire.handCards %}
             <img height="70px" src="{{ asset('assets/cartes/dos.png') }}">

        {% endfor %}
    </div>
    <div class="col-4" style="text-align: center">

        {% if adversaire.actions['SECRET'] %}
            <img width="50px" src="{{ asset('assets/cartes/secret.png') }}" alt="Secret" style="filter: grayscale(1);" >
        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/secret.png') }}" alt="Secret">

        {% endif %}

        {% if adversaire.actions['DEPOT'] %}
            <img width="50px" src="{{ asset('assets/cartes/dépot.png') }}" alt="Secret" style="filter: grayscale(1);" >

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/dépot.png') }}" alt="Dépot">
        {% endif %}
        {% if adversaire.actions['OFFRE'] %}
            <img width="50px" src="{{ asset('assets/cartes/offre.png') }}" alt="Secret" style="filter: grayscale(1);" >

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/offre.png') }}" alt="Offre">

        {% endif %}
        {% if adversaire.actions['ECHANGE'] %}
            <img width="50px" src="{{ asset('assets/cartes/echange.png') }}" alt="Secret" style="filter: grayscale(1);">

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/echange.png') }}" alt="Echange">
            <br>
        {% endif %}

</div>
    <div class="row">
    {% for card in adversaire.board %}

        <img height="70px" src="{{ asset('assets/cartes/'~cards[card].picture) }}">

    {% endfor %}
</div>
<div class="row" style="justify-content: space-between">



                     <img height="100px" src="{{ asset('assets/cartes/ashibaru.png') }}">

                     <img height="100px" src="{{ asset('assets/cartes/ninja.png') }}">

                    <img height="100px" src="{{ asset('assets/cartes/ninjaf.png') }}">

                     <img height="100px" src="{{ asset('assets/cartes/smu.png') }}">

                     <img height="100px" src="{{ asset('assets/cartes/tessen.png') }}">

                    <img height="100px" src="{{ asset('assets/cartes/yabusame-fin.png') }}">

                     <img height="100px" src="{{ asset('assets/cartes/yabusame.png') }}">



</div>
<div class="row">
    {% for card in moi.board %}

               <img height="70px" src="{{ asset('assets/cartes/'~cards[card].picture) }}">

    {% endfor %}
</div>
<div class="row">
    <div class="col-8 actionsSelect">
        {% for card in moi.handCards %}
            <input type="checkbox" name="carte_select" id="carte{{ card }}" value="{{ card }}" style="display: none" class="choixDepot">
            <label for="carte{{ card }}">
             <img height="70px" src="{{ asset('assets/cartes/'~cards[card].picture) }}">
            </label>
        {% endfor %}
    </div>



    <div class="col-4 actionsSelect" style="padding-bottom: 10px">

        {% if moi.actions['SECRET'] %}
            <img width="50px" src="{{ asset('assets/cartes/secret.png') }}" alt="Secret" style="filter: grayscale(1);" >
            {% else %}
                <img width="50px" src="{{ asset('assets/cartes/secret.png') }}" alt="Secret" id="secret">

        {% endif %}

        {% if moi.actions['DEPOT'] %}
            <img width="50px" src="{{ asset('assets/cartes/dépot.png') }}" alt="Secret" style="filter: grayscale(1);" >

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/dépot.png') }}" alt="Dépot" id="depot">
        {% endif %}
        {% if moi.actions['OFFRE'] %}
            <img width="50px" src="{{ asset('assets/cartes/offre.png') }}" alt="Secret" style="filter: grayscale(1);" >

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/offre.png') }}" alt="Offre" id="offre">

        {% endif %}
        {% if moi.actions['ECHANGE'] %}
            <img width="50px" src="{{ asset('assets/cartes/echange.png') }}" alt="Secret" style="filter: grayscale(1);">

        {% else %}
            <img width="50px" src="{{ asset('assets/cartes/echange.png') }}" alt="Echange" id="echange">
            <br>
        {% endif %}
        <div class="row">
            <div id="help"><h2>Chargement...</h2><br>Veuillez patienter. </div>
            <br><br>
            <button id="valider" style="display: none">Valider action</button>
            <br><br>


    </div>
    </div>


    </div>


</div>

</div>
</div>