{% extends 'base.html.twig' %}

{% block title %}Senshi no Mishi | Partie en cours{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/r/style_jeu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    #board input:checked + label img{
        transform: scale(1.3);
        transition: 0.3s;
    }
</style>
{% endblock %}
{% block body %}
    <div id="main_content">
        <header>
            <nav>
                <div>
                    <a href="{{ path('accueil') }}">Accueil</a>
                    <a href="{{ path('profil') }}">Profil</a>
                </div>
                <div>
                    <a href="" id="notification_ico"><img width="50px" src="{{ asset('assets/imgs/notification.png') }}" alt="Notification"></a>
                    <a id="chat_icon"><img width="50px" src="{{ asset('assets/imgs/chat.png') }}" alt="Chat"></a>
                </div>
            </nav>
        </header>


        <section id="chat">
            <section id="texts">
                <div class="bubble2">
                    <p>Ca c'est mon message !</p>
                </div>
                <div class="bubble">
                    <p>Ceci est un test de qualité superieur !</p>
                </div>
                <div class="bubble">
                    <p>Effectivement, ce test est vraiement sympa !</p>
                </div>
                <div class="bubble">
                    <p>J'te fais pas l'dire, il est vraiment dingo dingo</p>
                </div>
                <div class="bubble2">
                    <p>Il est cool hein ? Dites qu'il est cool</p>
                </div>
            </section>
            <hr>
            <div id="write">
                <form>
                    <textarea></textarea>
                    <input type="submit">
                </form>
            </div>
        </section>


        <section id="board">
        {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}

        </section>


    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let boucle
        $(document).ready(function(){
           // $("input:checkbox").not(":checked").attr("disabled", true);
            boucle = setInterval(refreshGame(), 2000)
        })
        $(document).on('click', '#finDeTour', function() {
            //mettre à jour game en changeant quiJoue
            //Bloquer le plateau (overlay, ...)
            //Relancer le timer...
        })
        function refreshGame() {
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    //$('#board').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    if (data === false) {
                        $('#help').html('<h2>Tour adverse</h2><br> Veuillez patienter pendant que votre adversaire joue.<br><br>')

                    } else {
                        if (data === true){
                            $('#help').html('<h2>C\'est à vous !</h2><br> Veuillez sélectionner une action.<br><br>')
                        }
                        clearInterval(boucle)

                    }
                },
                error: function(){
                }
            })
        }
        let action

        $(document).on('click', '#secret', function(){
            $('#valider').hide();
            $('#help').html('<h2>Secret</h2><br> Sélectionnez une carte. Celle-ci sera cachée et ne sera révélée qu\'à la fin de la manche.<br><br>')
            $('input:checkbox').prop('checked', false).prop('disabled', false)
            $('input:checkbox').click(function () {
                var bol = $('input:checkbox:checked').length >= 1;
                $('input:checkbox').not('checked').attr('disabled', bol);
                if (bol === true){
                    $('#valider').show();
                } else {
                    $('#valider').hide();
                }
            });
            action = 'secret' //mémorise l'action en cours
        })
        $(document).on('click', '#depot', function(){
            $('#valider').hide();
            $('#help').html('<h2>Dépôt</h2><br> Sélectionnez deux cartes. Elles seront retirées de la manche.<br><br>')
            $('input:checkbox').prop('checked', false).prop('disabled', false)
            $('input:checkbox').click(function () {
                var bol = $('input:checkbox:checked').length >= 2;
                $('input:checkbox').not('checked').attr('disabled', bol);
                if (bol === true){
                    $('#valider').show();
                } else {
                    $('#valider').hide();
                }
            });
            action = 'depot' //mémorise l'action en cours
        })
        $(document).on('click', '#offre', function(){
            $('#valider').hide();
            $('#help').html('<h2>Offre</h2><br> Sélectionnez trois cartes. Votre adversaire en sélectionnera une et vous offrirez les deux autres.<br><br>')
            $('input:checkbox').prop('checked', false).prop('disabled', false)
            $('input:checkbox').click(function () {
                var bol = $('input:checkbox:checked').length >= 3;
                $('input:checkbox').not('checked').attr('disabled', bol);
                if (bol === true){
                    $('#valider').show();
                } else {
                    $('#valider').hide();
                }
            });
            action = 'offre' //mémorise l'action en cours
        })


        $(document).on('click', '#echange', function(){
            $('#valider').hide();
            $('#help').html('<h2>Échange</h2><br> Sélectionnez quatre cartes que vous devrez grouper 2 par 2. Votre adversaire choisira l\'un de ces groupes.<br><br>')
            $('input:checkbox').prop('checked', false).prop('disabled', false)
            $('input:checkbox').click(function () {
                var bol = $('input:checkbox:checked').length >= 4;
                $('input:checkbox').not('checked').attr('disabled', bol);
                if (bol === true){
                    $('#valider').show();
                } else {
                    $('#valider').hide();
                }
            });
            action = 'echange' //mémorise l'action en cours
        })
        $(document).on('click', '#valider', function(){
            $('#valider').hide();
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_select"]:checked').val()
                    }
                    break;
                case 'depot':
                    donneesAction = {
                        action: 'depot',
                        carte: {
                            card1:document.querySelectorAll('input[name="carte_select"]:checked')[0].value,
                            card2:document.querySelectorAll('input[name="carte_select"]:checked')[1].value
                        }
                    }
                    break;
                case 'offre':
                    donneesAction = {
                        action: 'offre',
                        carte: {
                            card1:document.querySelectorAll('input[name="carte_select"]:checked')[0].value,
                            card2:document.querySelectorAll('input[name="carte_select"]:checked')[1].value,
                            card3:document.querySelectorAll('input[name="carte_select"]:checked')[2].value
                        }
                    }
                    break;
                case 'offre_valid':
                    donneesAction = {
                        action: 'offre_valid',
                        carte: $('input[name="carte_select"]:checked').val()
                    }
                    break;
                case 'echange':
                    donneesAction = {
                        action: 'echange',
                        carte: {
                            card1:document.querySelectorAll('input[name="carte_select"]:checked')[0].value,
                            card2:document.querySelectorAll('input[name="carte_select"]:checked')[1].value,
                            card3:document.querySelectorAll('input[name="carte_select"]:checked')[2].value,
                            card4:document.querySelectorAll('input[name="carte_select"]:checked')[3].value
                        }
                    }
                    break;
                case 'echange_group':
                    donneesAction = {
                        action: 'echange_group',
                        carte: {
                            card1:document.querySelectorAll('input[name="carte_select"]:checked')[0].value,
                            card2:document.querySelectorAll('input[name="carte_select"]:checked')[1].value
                        },

                    }
                    break;
                case 'echange_valid':
                    donneesAction = {
                        action: 'echange_valid',
                        carte: $('input[name="carte_select"]:checked').val()
                    }
                    break;
            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                   refreshGame()
                },
                error: function(){
                }
            })
        })

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            //script 1
            let elm = document.getElementById('chat');
            $("#chat_icon").click(function(){
                if(elm.className === ''){
                    elm.className = "active";
                    document.getElementById('chat_icon').className = "active";

                } else if(elm.className === 'active'){
                    elm.className = "";
                    document.getElementById('chat_icon').className = "";
                }
            });
        })
    </script>
{% endblock %}